.container{
    height: 100%;
    width: 100%;
    // background-color:rgba(18, 18, 18, 0.4);
}
.topBar{
    height: 50px;
    display: flex;
    align-items: center;
    padding: 20px 140px 0px 140px;
}
.logo{
    height: 30px;
}
.topBarItem{
    margin-left: 10px;
    color: #ffffff;
}
.ml-auto{
    margin-left: auto;
}
.head-container{

    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color:rgba(18, 18, 18, 0.4);
}
.head-image{
    height: 150px;
}
.bg-video{
    height: 100%;
    width: 100%;
    z-index: -100;
    object-fit: cover;
    background-color:rgba(18, 18, 18,0.4);
    position: absolute;
}
.disperse-word{
    display: flex;
    font-size: 40px;
}
.disperse-tag{
    color: #ffffff;
    z-index: -1;
}
.disperse-tagG{
    color: #ffffff;
}